<a href="https://colab.research.google.com/github/ashkanmulla/Python-Projects/blob/main/P_81_Air_Quality_forecasting(CO2_emissions).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title
import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
df = pd.read_csv("/content/CO2 dataset.csv")
df.head()

In [ ]:
df.info()

we can use the argument parse_dates to specify a list of date columns.

In [ ]:
df = pd.read_csv('/content/CO2 dataset.csv', parse_dates=[0,1])
df.describe

In [ ]:
data_df = df

In [ ]:
#df ['datetime'] = pd.to_datetime(df[['Year', 'month','day']])
#data_df['datetime'] = pd.to_datetime(data_df[['year', 'month','day', 'hour']])
#data_df = data_df.drop(['year', 'month','day', 'hour'], axis = 1)
#df = df.drop(['Year', 'month','day'], axis = 1)

In [ ]:
#df.describe = df.(parcentiles=None, include=None, exclude=None, datetime_is_numeric=False)
             #week = ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']
#Months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']

In [ ]:
data_df.shape

if there are some invalid values like @@ and ‘*’ in the data which we will be treating as missing values. But checked data set no @@ n * values found

In [ ]:
data_df['CO2'] = data_df['CO2'].replace(to_replace= ' @@', value = np.nan)
data_df['CO2'] = data_df['CO2'].astype(float)

In [ ]:
data_df.info()

In [ ]:
data_df.boxplot(column=['CO2'])
plt.show()

Check for duplicate data

In [ ]:
duplicate = data_df.duplicated()
print(duplicate.sum())
data_df[duplicate]

We will remove this from the data set so that we get only distinct records. Post removing the duplicate, we will check whether the duplicates have been removed from the data set or not.

In [ ]:
data_df.drop_duplicates(inplace=True)

In [ ]:
df1 = data_df.duplicated()
df1.sum()

In [ ]:
data_df.corr()